[Unit]
Description=Authenticator service
ConditionPathExists=/usr/local/bin/Backend/authServer
After=network.target

[Service]
WorkingDirectory=/usr/local/bin/Backend/authServer
ExecStart=/usr/local/bin/Backend/authServer npm run start
User=root
Group=root
Restart=always

[Install]
WantedBy=multi-user.target